OPENAI_COMPATIBILIY_API_BASE_URL=https://api.deepseek.com
OPENAI_COMPATIBILIY_API_KEY=sk-6da9774e9628466a85ea3dd29eb4b75f
ZHIPUAI_API_KEY=6cce08394ac0a9ba13954dde8cb20f1e.sWTuaZwRCBjpHCWh
DEFAULT_MODEL_TYPE=glm-4
DEFAULT_MODEL_PLATFORM_TYPE=zhipuai




# os.environ["ZHIPUAI_API_KEY"] = "6cce08394ac0a9ba13954dde8cb20f1e.sWTuaZwRCBjpHCWh"
# os.environ["DEFAULT_MODEL_TYPE"] = "glm-4"
# os.environ["DEFAULT_MODEL_TYPE"] = "zhipuai"




# import os
# from camel.models import ModelFactory
# from camel.types import ModelPlatformType, ModelType

# model = ModelFactory.create(
#     model_platform=ModelPlatformType.OPENAI_COMPATIBLE_MODEL,
#     model_type="deepseek-chat",
#     api_key=os.environ.get("OPENAI_COMPATIBILIY_API_KEY"),
#     url=os.environ.get("OPENAI_COMPATIBILIY_API_BASE_URL"),
#     model_config_dict={"temperature": 0.4, "max_tokens": 4096},
# )
